<a href="https://colab.research.google.com/github/JosePabloGFnl/Redes-Neuronales-Artificiales/blob/main/Tarea2.4/2_4_Visualizaci%C3%B3n_y_estad%C3%ADstica_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import copy
import matplotlib.pyplot as plt


df=pd.read_csv('ETH-USD.csv')

df
df = df[['Date','Close','Volume']]
#df[df['Date'].str.contains("-01-")]

            Date         Open  ...    Adj Close        Volume
0     2018-07-15   435.882996  ...   449.850006  1.350160e+09
1     2018-07-16   450.424988  ...   480.657990  1.858680e+09
2     2018-07-17   480.076996  ...   501.002014  2.288100e+09
3     2018-07-18   500.838013  ...   480.513000  2.371560e+09
4     2018-07-19   480.627991  ...   469.618988  2.068740e+09
...          ...          ...  ...          ...           ...
1092  2021-07-11  2110.875732  ...  2139.664795  1.470539e+10
1093  2021-07-12  2140.506836  ...  2036.721069  1.776813e+10
1094  2021-07-13  2034.098389  ...  1940.083984  1.662163e+10
1095  2021-07-14  1941.167847  ...  1994.331299  1.734282e+10
1096  2021-07-15          NaN  ...          NaN           NaN

[1097 rows x 7 columns]